
{% set offers = commonground_resource_list({'component':'pdc', 'type':'offers'}, property.query)["hydra:member"] %}
<div class="input input--horizontal">
    <div>
        <label class="input__label" for="{{ property.id }}">{{ property.title }}</label>
    </div>
    <ul class="input__group-list">
            <li class="input__group input__group--checkbox">
                <ul>
                    {% for offer in offers %}
                    <li><input type="checkbox" class="input__control input__control--checkbox" value="{{ offer['@id'] }}" name="properties[{{ property.name }}][]" id="{{ offer.id }}"><label for="{{ offer.id }}" class="input__label input__label--checkbox">{{ offer.name }}</label></li>
                    {% endfor %}
                </ul>
            </li>
    </ul>
</div>

