<label class="input__label" for="{{ property.name }}">{{ section.description }}</label>
<input class="input__control input__control--text" id="{{ property.name }}" type="date" name="request[properties][{{ property.name }}]" required
{% if request.properties[property.name] is defined and request.properties[property.name] is not empty %} value="{{ request.properties[property.name] }}" {% endif %}>
