
<fieldset class="input">
    {% if property.enum is defined and property.enum is not empty and property.type == 'string'%}
        {% for option in property.enum %}
    <div class="input__group input__group--radio">
        <input class="input__control input__control--radio" type="radio" id="{{ option }}" name="request[properties][{{ property.name }}]" value="{{ option }}">
        <label class="input__label input__label--radio" for="{{ option }}">{{ option }}</label><br>
    </div>
        {% endfor %}
    {% elseif property.type == "boolean" %}
    <div class="input__group input__group--radio">
        <input class="input__control input__control--radio" type="radio" id="yes" name="request[properties][{{ property.name }}]" value="ja">
        <label class="input__label input__label--radio" for="yes">{{ 'yes'|trans|capitalize }}</label><br>
    </div>
    <div class="input__group input__group--radio">
        <input class="input__control input__control--radio" type="radio" id="no" name="request[properties][{{ property.name }}]" value="nee">
        <label class="input__label input__label--radio" for="no">{{ 'no'|trans|capitalize }}</label><br>
    </div>
    {% endif %}
</fieldset>

